HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

**/src/main/generated/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/logs/

/attacheFiles/



buildOutputCleanup.lock
checksums.lock
demo.main.iml
DemoApplication.class
executionHistory.bin
executionHistory.lock
file-system.probe
fileHashes.bin
fileHashes.lock
GoodsController.class
GoodsDto.class
GoodsProperties$Goods.class
GoodsProperties.class
GoodsService.class
md5-checksums.bin
misc.xml
modules.xml
previous-compilation-data.bin
problems-report.html
resourceHashesCache.bin
sha1-checksums.bin